{% extends 'base.html' %}

{% block title %}Delete Room{% endblock %}

{% block content %}
{% if user.is_staff %}
<br>
    <div class="container py-4 boxColor boxShadow">
    <h1>Invalid booking</h1>
        Error with booking: {{message}}
    </div>
<!-- authenticated but not admin -->
{% elif user.is_authenticated %} 
<br>
<div class="container py-4 boxColor boxShadow">
    <p>You are not an admin.</p>
    <button><a href="{% url 'login' %}">Log In</a></button>
</div>
<!-- not authenticated -->
{% else %}
<br>
<div class="container py-4 boxColor boxShadow">
    <p>You are not logged in.</p>
    <button><a href="{% url 'login' %}">Log In</a></button>
</div>
{% endif %}
{% endblock %}