<style>
    a {
        text-decoration: none;
    }
    .header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size:18px;
  background-color: var(--grey);
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: var(--offWhite);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* .header li a:hover:not(.active) {
  background-color: #111;
}

.header .active {
  background-color: #111;
} */
</style>
<html>
    <div class="header">
    <ul>
        <div class="container">
            <li><a href="{% url 'home' %}"><b>ABC Sdn Bhd.</b></a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li style="float:right"><a class="active" href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
            
        </div>
    </ul>
</div>  
</html>