{% extends 'base.html' %}

{% block title %}Invalid Booking{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br>
    <div class="container py-4 boxColor boxShadow">
    <h2>Invalid Booking</h2>
    <p> Your booking for Room {{booking.roomName}} on {{booking.date}} between {{booking.start}} - {{booking.end}} conflicts with the following bookings:</p>
    <table class="dataTable">
        <tr style="font-weight:bold">
            <th>Booked room</th>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>User</th>
        </tr>
        {% for overlapBooking in overlappingBookings %}
            <tr>
                <td>{{overlapBooking.roomName}}</td>
                <td>{{overlapBooking.date}}</td>
                <td>{{overlapBooking.start}}</td>
                <td>{{overlapBooking.end}}</td>
                <td>{{overlapBooking.userName}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    
{% else %}
<br>
<div class="container py-4 boxColor boxShadow">
    <p>You are not logged in.</p>
    <button><a href="{% url 'login' %}">Log In</a></button>
</div>
{% endif %}
{% endblock %}